/* Styles pour le composant TabList */
.tablist-container {
    /* max-width: 600px; */
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .tablist-input {
    /* width: 100%; */
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .tablist-table {
    width: 100%;
    border-collapse: collapse;
  }

  .tablist-table thead th {
    border-bottom: 1px solid #ccc;
  }
  
  .tablist-table tbody td {
    border-bottom: 1px solid #ccc;
  }
  
  .tablist-table tfoot td {
    border-top: 1px solid #ccc;
  }
  
  .tablist-table th {
    font-weight: bold;
    color: #333;
  }
  
  .tablist-table th,
  .tablist-table td {
    padding: 10px;
    text-align: left;
  }
  
  .tablist-table th:nth-child(1),
  .tablist-table td:nth-child(1),
  .tablist-table th:nth-child(2),
  .tablist-table td:nth-child(2) {
    width: 120px;
  }
  
  .tablist-table th:nth-child(3),
  .tablist-table td:nth-child(3) {
    width: 80px;
  }
  
  .tablist-table th:nth-child(4),
  .tablist-table td:nth-child(4) {
    width: 120px;
  }
  
  .tablist-table th:nth-child(5),
  .tablist-table td:nth-child(5),
  .tablist-table th:nth-child(6),
  .tablist-table td:nth-child(6),
  .tablist-table th:nth-child(7),
  .tablist-table td:nth-child(7) {
    width: 100px;
  }
  
  .tablist-table th:nth-child(8),
  .tablist-table td:nth-child(8) {
    width: 80px;
  }
  
  .tablist-table th:nth-child(9),
  .tablist-table td:nth-child(9) {
    width: 150px;
  }

  .first-bloc, .last-bloc {
    display: flex;
    justify-content: space-between;
  }

  .page-bloc {
    display: flex;
  }

  .page-bloc p {
    border: 1px solid #ccc ;
    padding: 15px;
  }

  select {
    width: auto;
    margin-left: 5px;
  }
  input {
    width: auto;
  }

  button {
    border: none;
    background-color: none;
    cursor: pointer;
    padding: 10px;
  }

  button:nth-child(2) {
    border: 1px solid #ccc;
    padding: 10px 20px;
  }

  .no-data {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-weight: bold;
    color: #666;
  }
  